<h1>Listing orders</h1>

<table class="table table-striped table-bordered table-condensed">
  <tr>	
	<th>Description</th>
    <th>Due date</th>
    <th>Price</th>
	<th>Time Estimate</th>
	<th>Time Actual</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <tr>	
  	<td><%= order.description %></td>
    <td><%= order.due_date %></td>
    <td><%= number_to_currency(order.price, :unit => "$") %></td>
    <td><%= order.time_estimate %></td>
    <td><%= order.time_actual %></td>
    <td><%= link_to 'Show', order %></td>
    <td><%= link_to 'Edit', edit_order_path(order) %></td>
    <td><%= link_to 'Destroy', order, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Order', new_order_path %>
